body{
    justify-items: center;
    align-content: center;
    height: 100vh;
}
.form-section {
    display: flex;
    gap: fit-content;
    width: 100%;
}
.todo-input, .todo-date {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    /* gap: 2px; */
    
    /* flex gap-2 w-full */
}
.headerId{
    width: justify-content;
}
/* .todo-date{
    max-width: 200px;
} */